





<html lang="en" dir="ltr">
    <head>
      <meta charset="UTF-8">
      <!---<title> Responsive Registration Form | CodingLab </title>--->
      <link rel="stylesheet" href="userlogin.module.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
  <body>
    <div class="container">
      <div class="title">Proceed with your payment</div>
      <div class="content">
        <form action="#">
          <div class="user-details">
           

            <div class="input-box">
                <span class="details">Date Of Appointment</span>
                <input type="date" placeholder="Enter your date" required>
              </div>
    
           <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Preferred Slot</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">9-10am</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">10-11am</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">11-12pm</span>
              </label>


              <label for="dot-4">
                <span class="dot four"></span>
                <span class="gender">2-3pm</span>
                </label>
                <label for="dot-5">
                    <span class="dot five"></span>
                    <span class="gender">3-4pm</span>
                    </label><label for="dot-6">
                        <span class="dot six"></span>
                        <span class="gender">4-5pm</span>
                        </label>
            </div></div>
            
            
          </div>
  
      
          <div class="button">
            <input type="submit" value="Confirm your appointment">
          </div>
        </form>
      </div>
    </div>
  
  </body>
  </html>
  